td{
    border-bottom:.5px solid rgb(210, 210, 210);
}

tr{
    transition:.4s ease-out;
}
tr:hover{
    background-color: rgb(225, 225, 225);
}
.checked_background{
    border-radius:15px;
    background-color: rgb(187, 189, 189);
}
.row_checkbox{
    height:15px;
    width:15px;
}

.user_delete{
   padding: 10px;
   font-size: 20px;
   color: red;
   cursor: pointer;
   border-right: 1px solid rgb(200, 200, 200);
}
.user_edit{
    font-size: 20px;
    padding: 10px;
    color: green;
    cursor: pointer;
 }