.container{
 height: 100%;
 min-width:500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container__top{
  height: 50px;
  width:90%;
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchbar{
  height:35px;
  width: 85%;
  padding-left: 20px;
  border:.5px solid rgb(222, 221, 221);
  border-radius: 7px;
  margin-top: 60px;
}
.searchbar:focus{
  outline: none;
}

.container__tablecontainer{
  min-width: 300px;
  height: 100%;
}

.container__tablecontainer table{
  min-width:300px;
  min-height: 700px;
  margin-top: 50px;
  padding: 20px;
}
.headder_checkbox{
  height: 15px;
  width: 15px;
}

tr{
  height: 40px; 
}
.table_headderRow:hover{
 background-color: transparent;
}
tr:hover{
  background-color: none;
}
tr th{
  width:300px;
  text-align: center;
  border-bottom:2px solid black;
}
tr td{
  text-align: center;
}

.container__bottom{
  display: flex;
  justify-content:space-between;
  align-items: center;
}
.container__bottom_Left{
  padding-left: 40px;
}
.container__bottom_Right{
  padding-right: 40px;
}